.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family : 'Lora', serif;
    color: white;
} 

.headerTitleSm{
    position: absolute;
    font-size: 26px;
    font-style: bold;
    top: 18%;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;

}

.headerImage {
    width: 100%;
    height: 450px;
    object-fit: cover;
}




